	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color: hsla(20, 50%, 50%, 2.7);
  padding: 7%;
}
body{
  background-color: hsla(150, 25%, 50%,  5.9);
}
header h1{
  background-color: hsla(30, 25%, 50%,  5.9) ;
}
div.preamble, div.requirements, div.benefits{
  color:  hsla(200, 100%, 70%,  9.9);
  background-color:  hsla(230, 25%, 50%,  5.9);
}


/** 02 Typography -- Font  **/

body{

  font-family: Oswald, sans-serif;

}

/** 03 Position, Size, layout **/
div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative ;
}
aside.sidebar{
  position: absolute;
  top: 3%;
  right: 0;
  width: 27%;
}
section.intro{
  width: 60.7%;
  padding:5%;
}
section.intro div.preamble{
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}
div.page-wrapper{
  padding: 5%;
  z-index: 2;
}
div.extra{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;

  height: 600px;
  z-index: 1;

}
div.explanation{
  float: left;
  width: 40%;
  padding: 5%;
}
div.participation{
  margin-left: 50%;
  width:40%;
  padding:5%;
}
div.benefits{
  float: left;
  width: 30%;
  padding: 5%;
}
div.requirement{
  margin-left: 40%;
  width: ;
}

/** 04  Other decoration -- background Links **/ 



/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}